{% extends 'base.html' %}

{% block title %}
    {{ blog.title }} - 博客详情
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/blogDetail.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <!-- 博客标题 -->
        <h1 class="display-4 text-center">{{ blog.title }}</h1>

        <!-- 博客信息 -->
        <p class="text-muted text-center">发布人: <strong>{{ blog.author.username }}</strong> | 发布时间:
            <span>{{ blog.pub_time|date:"Y年m月d日" }}</span></p>

        <!-- 博客内容 -->
        <div class="blog-content">
            <h2>引言：为什么选择{{ blog.category.name }}</h2>
            <p>
                {{ blog.content }}
            </p>
        </div>

        <!-- 评论区 -->
        <div class="comment-section">
            <h4>评论区</h4>

            <!-- 评论输入框 -->
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">提交评论</button>
            </form>

            <!-- 评论总数 -->
            <p>评论总数：<strong>{{ comments.count }}</strong></p>

            <!-- 评论列表 -->
            <div class="comment-box">
                {% for comment in comments %}
                    <div class="comment-card card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <!-- 评论人 -->
                                <h5 class="card-title">{{ comment.author.username }}</h5>
                                <!-- 评论时间 -->
                                <h6 class="card-subtitle text-muted">{{ comment.pub_time|date:"Y年m月d日 H:i" }}</h6>
                            </div>
                            <!-- 评论内容 -->
                            <p class="card-text mt-2">{{ comment.content }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>暂无评论</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
