{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}


{% block main %}
    {#    博客列表#}

    <div class="container">
        <div class="row">
            {% for blog in blogs %}
                <div class="col-md-6"> <!-- 每列占 6 个栅格，即每行显示两个博客 -->
                    <div class="card text-center">
                        <div class="card-header" style="text-align: left;">
                            <!-- 动态获取博客标题 -->
                            <a href="{% url 'detail' blog.id %}"
                                style="text-decoration: none; font-size: 18px; color: #007bff;">
                                {{ blog.title }}
                            </a>
                        </div>
                        <div class="card-body" style="height: 130px; text-align: left;">
                            <!-- 动态获取博客的简介或内容的前部分 -->
                            <p class="card-text">{{ blog.get_excerpt }}</p>
                        </div>

                        <div class="card-footer text-muted"
                             style="display: flex; justify-content: space-between; align-items: center;">
                            <!-- 动态获取发布人和发布时间 -->
                            <span>发布人: {{ blog.author.username }}</span>
                            <span>发布时间：{{ blog.pub_time|date:"Y年m月d日 H:i" }}</span>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 %}
                    </div>
                    <div class="row"> <!-- 每两个博客后结束并重新开始一行 -->
                {% endif %}
            {% endfor %}
            </div>
    </div>

{% endblock %}