{% extends 'base.html' %}
{% block title %}
首页
{% endblock %}


{% block main %}
        {#    博客列表#}

    <div class="container">
        <h1>博客列表</h1>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" style="text-align: left;">
                            <a href="#" style="text-decoration: none; font-size: 18px; color: #007bff;">Django零基础开发（博客标题）</a>
                        </div>
                        <div class="card-body" style="height: 130px; text-align: left;">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>

                        <div class="card-footer text-muted"
                             style="display: flex; justify-content: space-between; align-items: center;">
                            <span>发布人: 用户名</span>
                            <span>发布时间：2024年12月3日 22:10</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" style="text-align: left;">
                            <a href="#" style="text-decoration: none; font-size: 18px; color: #007bff;">Django零基础开发（博客标题）</a>
                        </div>
                        <div class="card-body" style="height: 130px; text-align: left;">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>

                        <div class="card-footer text-muted"
                             style="display: flex; justify-content: space-between; align-items: center;">
                            <span>发布人: 用户名</span>
                            <span>发布时间：2024年12月3日 22:10</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" style="text-align: left;">
                            <a href="#" style="text-decoration: none; font-size: 18px; color: #007bff;">Django零基础开发（博客标题）</a>
                        </div>
                        <div class="card-body" style="height: 130px; text-align: left;">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>

                        <div class="card-footer text-muted"
                             style="display: flex; justify-content: space-between; align-items: center;">
                            <span>发布人: 用户名</span>
                            <span>发布时间：2024年12月3日 22:10</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" style="text-align: left;">
                            <a href="#" style="text-decoration: none; font-size: 18px; color: #007bff;">Django零基础开发（博客标题）</a>
                        </div>
                        <div class="card-body" style="height: 130px; text-align: left;">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>

                        <div class="card-footer text-muted"
                             style="display: flex; justify-content: space-between; align-items: center;">
                            <span>发布人: 用户名</span>
                            <span>发布时间：2024年12月3日 22:10</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" style="text-align: left;">
                            <a href="#" style="text-decoration: none; font-size: 18px; color: #007bff;">Django零基础开发（博客标题）</a>
                        </div>
                        <div class="card-body" style="height: 130px; text-align: left;">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>

                        <div class="card-footer text-muted"
                             style="display: flex; justify-content: space-between; align-items: center;">
                            <span>发布人: 用户名</span>
                            <span>发布时间：2024年12月3日 22:10</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" style="text-align: left;">
                            <a href="#" style="text-decoration: none; font-size: 18px; color: #007bff;">Django零基础开发（博客标题）</a>
                        </div>
                        <div class="card-body" style="height: 130px; text-align: left;">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>

                        <div class="card-footer text-muted"
                             style="display: flex; justify-content: space-between; align-items: center;">
                            <span>发布人: 用户名</span>
                            <span>发布时间：2024年12月3日 22:10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Content here -->
    </div>
{% endblock %}